body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image.webp);
    color: white;
  }
  
  header {
    background-color: #3975b5;
    color: aqua;
    padding: 10px 20px;
  }
 
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;

    
}

.logo a {
  color: aqua;
    text-decoration: none;
}

div ul{
    
    list-style-type: none;
    gap: 4rem;
    text-align: left;
   }

.jobList{
  display: grid;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
  list-style-type: none;
  gap: 4rem;
  text-align: left;
}

 ul li {
    display: inline;
    margin-right: 20px;
  }


  main {
    padding: 20px;
  }
  
  footer {
    font-size: 25px;
    background-color:#3975b5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea,
  button {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  

    
  .login-container {
    max-width: 400px;
    margin: 100px 100px;
    padding: 40px;
    background-color: #3975b5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


  .h3{
    text-align: center;
    color: red;
  }


  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #3975b5;
    border-radius: 5px;
  }
  
select{
    width: 105%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #3975b5;
    border-radius: 5px;
 } 


  button {
    width: 105%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  } 

   h2 , p {
    font-size: 25px;
    color:black;
   }

   img{
        display: grid;
        grid-template-columns: repeat(3, minmax(270px, 1fr));
        gap: 2rem;
   }

   .live-scores {
    display:grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    background-color: #0064fb;
    padding: 1em;
    border: 1px solid #ddd;
}

.live-scores ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.live-scores li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.live-scores li:last-child {
    border-bottom: none;
}

.news {
  background-color: #ffffff;
  padding: 1rem;
  border: 100px solid #e3e0e0;
}

.news ul {
  color:#1575c8;
  list-style: none;
  margin: 0;
  padding: 0;
}

.news li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.news li:last-child {
  border-bottom: none;
}